.btn {
    border: none;
    background-color: #9db7ec;
    padding: 9%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover {
    background-color: #7b04aa;
    color: #e6ebf5;
}

.btnn {
    border: none;
    background-color: #57585c;
    padding: 8%;
    width: 71%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnn:hover {
    background-color: #8d96a0;
    color: #e6ebf5;
}

